<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheet %}  <link rel="stylesheet" href="{{ asset('css/style.css') }}" {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav>
            <a href="{{ path('app_homepage') }}">Home</a>
            <a href="{{ path('article_show',{titre:'Repas pour bébé'}) }}">Repas BEBE</a>
            <a href="{{ path('contact_info',{titre:'contact'}) }}">contact</a>
        </nav>

        {% block body %}

            <h1>{{ titre }}</h1>
            <p>{{ Contenu }}</p>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
