{# Mon commentaire #}
{% extends 'base.html.twig'%}


{% block title %}
lire: {{ titre }}
{% endblock %}
{# ==============BODY=================== #}


{% block body %}

    <h1>{{ titre }}</h1>
    <p>{{ Contenu }}</p>


    {% for comment in comments  %}
    <p>{{comment}}</p>

{% endfor %}

<p>Il y a {{ comments|length }} commentaires</p>


{# 'maVariable'= est déclaré dans ArticleController => 'TEST' #}

{% endblock %}
{# ================================ #}
{% block javascript %}
<script src=""main.js></script>
{% endblock %}